{
  "extends": "standard-with-typescript",
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "semi": ["error", "always"]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/member-delimiter-style": [
          "error",
          {
            "multiline": { "delimiter": "semi", "requireLast": true },
            "singleline": { "delimiter": "semi", "requireLast": false }
          }
        ]
      }
    }
  ]
}
