# directories
.github/
coverage/
test/

# hidden configs
.editorconfig
.eslintignore
.eslintrc
.gitignore
.prettierrc
.travis.yml

# configs
appveyor.yml
jest.config.js
tsconfig.json
webpack.config.js
yarn-error.log
